# Evita di committare node_modules
node_modules/

# Evita di committare file di log temporanei
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# Config locali
.env
.DS_Store

# VS Code settings locali
.vscode/
